.footerWrapper{
    padding: 30px 0px;
    width: 100%;
}
.footerWrapper .footerBoxes .box{
    background: #F4F6FA;
    padding: 15px 25px;
    border-radius: 10px;
    height: 100px;
}

.footerWrapper .footerBoxes .box img{
    height: 60px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.footerWrapper .footerBoxes .box:hover img{
    transform: translateY(-10px);
}

.footerWrapper .footerBoxes .box .info{
    padding-left: 25px;
}

.footerWrapper .footerBoxes .box .info h4{
    font-size: 22px;
    font-weight: 600;
}

footer p, footer a{
    font-size: 1rem;
}

footer img{
    height: 100px;
}

footer{
    padding: 40px 0px;
    padding-bottom: 0px;
}

footer .part1 svg{
    color: #87A2FF !important;
}

footer .part2 h3{
    color: #000;
    font-weight: 600;
    margin-bottom: 20px;
}

footer .part2 ul li{
    list-style: none;
    margin-bottom: 10px;
}

footer .part2 ul li a{
    color: #000;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

footer .part2 ul li a:hover{
    color: #87A2FF !important;
    opacity: 1;
    padding-left: 5px;
}

footer .part3 img{
    height: auto;
}

footer .momo{
    border-radius: 10px;
}

footer .lastStrip .part3 ul{
    margin-bottom: 0px;
}

footer .lastStrip .part3 ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #87A2FF;
    border-radius: 50%;
    transition: all 0.2s ease-in-out !important;
}

footer .lastStrip .part3 ul li a svg{
    color: #fff !important;
}

footer .lastStrip .part3 ul li a:hover{
    background-color: rgb(51, 51, 51);
}