.productThumb{
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.productThumb .badge{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background: red;
    z-index: 10;
    color: #fff;
    padding: 8px 20px;
    font-size: 1rem;
    text-transform: capitalize;
}

.productThumb .badge.hot{background: #ea1d29 ;}
.productThumb .badge.sale{background: #67bcee ;}
.productThumb .badge.new{background: #3bb77e ;}
.productThumb .badge.best{background: #f58758 ;}

.productThumb:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.productThumb .imgWrapper{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.productThumb .imgWrapper img{
    height: 15rem;
    transition: all 0.3s ease-in-out;
    object-fit: cover;
}

.productThumb .imgWrapper .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scale(0.8);
}

.productThumb:hover .imgWrapper .overlay{
    opacity: 1;
    transform: scale(1);
    background: rgba(255, 255, 255, 0.1);
}

.productThumb .imgWrapper .overlay ul{
    background: #fff;
    width: auto;
    height: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* overflow: hidden; */
}

.productThumb .imgWrapper .overlay ul li{
    margin-right: 0px !important;
}

.productThumb .imgWrapper .overlay ul li a{
    display: block;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.productThumb .imgWrapper .overlay .eindex{ border-right: 0;}

.productThumb .imgWrapper .overlay ul li a svg{
    color: #4379F2 !important;
}
.productThumb .imgWrapper .overlay ul li a:hover svg{
    color: #000 !important;
    opacity: 0.7;
}

.productThumb:hover .imgWrapper img{
    transform: scale(1.1);
}

.productThumb .info{
    padding: 12px;
}

.productThumb .catName{
    color: #000;
    opacity: 0.8;
    font-size: 12px;
}

.productThumb .title a{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.productThumb .brand{color: rgba(0, 0, 0, 0.6);}

.productThumb .brand a{
    text-decoration: none;
}
.productThumb .brand a:hover{
    color: #3A1078;
}

.productThumb .price{
    font-size: 22px;
    margin-right: 20px;
    font-weight: bold;
}

.productThumb .oldPrice{
    font-size: 15px;
    opacity: 0.6;
    color: #000;
    text-decoration: line-through;
}

.productThumb button{
    font-size: 18px !important;
    color: #fff !important;
    padding: 5px 20px !important;
    background: #C4D7FF !important;
    color: #4379F2 !important;  
    text-transform: capitalize !important;
}

.productThumb button:hover{
    background: #4379F2 !important;
    color: #fff !important;
}

